<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="sample_id">
        <environment id="sample_id">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- sqliteのドライバーを設定 -->
                <property name="driver" value="org.sqlite.JDBC"/>
                <!-- dbのファイルパス -->
                <property name="url" value="jdbc:sqlite:E:\kenji\12.Git\07.Ticket\02_sourceCode\01.BackEnd\01.Java\TicketManagement\hoge.db"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sample_mapper.xml"/>
    </mappers>
</configuration>
